<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FreeBSD forum</title>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.5.0/css/sakura-dark.css">
</head>
<body>
  <header>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.freepngimg.com%2Fthumb%2Fchristmas_ornament%2F59361-gnu-berkeley-unix-freebsd-linux-distribution-software.png&f=1&nofb=1&ipt=3116e0bb75e340af29fb0481b1fdc7595e90b0b5a7e2abf12f8b00b599207300&ipo=images" alt="logo">
  </header>
  {% block content %}{% endblock %}
  <footer align="center"><a href="/">back to freebsd</a></footer>
</body>
</html>
